<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
<title>web</title>
<link rel="stylesheet" href="<% request.uri_base %>/css/style.css" />

<!-- Grab Google CDN's jQuery. fall back to local if necessary -->

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="/javascripts/jqwidgets/jqxdata.js"></script> 
    <script type="text/javascript" src="/javascripts/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="/javascripts/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="/javascripts/jqwidgets/jqxmenu.js"></script>
    <script type="text/javascript" src="/javascripts/jqwidgets/jqxgrid.js"></script>
    <script type="text/javascript" src="/javascripts/jqwidgets/jqxgrid.selection.js"></script> 
    <script type="text/javascript" src="/javascripts/jqwidgets/jqxgrid.columnsresize.js"></script> 
    <script type="text/javascript" src="/javascripts/jqwidgets/jqxgrid.edit.js"></script>  
    <script type="text/javascript" src="/javascripts/jqwidgets/jqxgrid.pager.js"></script>
    <script type="text/javascript" src="/javascripts/jqwidgets/jqxgrid.selection.js"></script> 
    <script type="text/javascript" src="/javascripts/jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="/javascripts/jqwidgets/jqxcheckbox.js"></script>
    <script type="text/javascript" src="/javascripts/jqwidgets/jqxtabs.js"></script>
    <script type="text/javascript" src="/javascripts/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="/javascripts/scripts/gettheme.js"></script>
    <script type="text/javascript">/* <![CDATA[ */
    !window.jQuery && document.write('<script type="text/javascript" src="<% request.uri_base %>/javascripts/scripts/jquery-1.8.2.min.js"><\/script>')
/* ]]> */</script>

</head>
<body>
<% content %>
<div id="footer">
Powered by <a href="http://www.skysql.com/">SkySQL AB</a> 
</div>
</body>
</html>
