<architecture>
    topology                MASTERSLAVE
</architecture>



<db default>
    cluster_interface       eth0
    replication_user        repl
    replication_password    repl
    mysql_user		    skysql 
    mysql_password	    skyvodka		
    agent_user              skysql
    agent_password          skyvodka
    datadir		    /var/lib/skysql  	
</db>

<db node10>
	mode				master
    ip                      10.0.0.102
    peer                    node11
    mysql_version           mariadb
    mysql_port		    5010 
    mysql_cnf		    etc/my.template
    mem_pct                 30
    io_pct                  30
    datadir		    /var/lib/skysql
</db>

<db node11>
	mode				slave
    ip                      10.0.0.47
    peer		    node10
    mysql_version	    mariadb
    mysql_port 		    5011
    mysql_cnf		    etc/my.template
    mem_pct                 30
    io_pct                  30
    datadir		    /var/lib/skysql
</db>


<db node12>
	mode				slave
    ip                      10.0.0.48
    peer		    node10
    mysql_version	    mariadb
    mysql_port 		    5012
    mem_pct		    30
    io_pct		    30
    mysql_cnf		    etc/my.template
    datadir		    /var/lib/skysql
</db>

#<db node20>
#    ip                      10.0.0.102
#    mode                    monitor
#    peer                    node10,node11
#    mysql_version           mysql-5.5.14-spider-2.28-vp-0.17-hs-1.1-q4m-0.95
#    mysql_port              5020
#    mysql_cnf		    etc/my_proxy.cnf
#    datadir		    /var/lib/skysql
#</db>


<proxy proxy1>
    mode                    mysql-proxy
    ip                      10.0.0.102 
    hosts                   node10
    peer		    node11	
    port 		    3307 
    script                  rw-splitting.template
</proxy>

<proxy proxy2>
    mode                    mysql-proxy
    ip                      10.0.0.47
    hosts                   node10
    peer                    node11
    port                    3307
    script                  rw-splitting.template
</proxy>

<proxy proxy3>
    mode                    mysql-proxy
    ip                      10.0.0.48
    hosts                   node10
    peer                    node11
    port                    3307
    script                  rw-splitting.template
</proxy>

<nosql nosql1>
    ip                      10.0.0.102
    mode                    memcache
    status                   master
    port              	    11211
    mem                    16
</nosql>
<nosql nosql2>
    ip                      10.0.0.48
    mode                    memcache
    status                  slave
    port                    11211
    mem                    16
</nosql>


<cloud cloud1>
    user            	   skysql@David_CHANIAL_1001895
    password        	   !davixx#
    host            	   vcloud.hegerys.com
    version         	   1.5
    driver          	   VCLOUD
    template        	   Centos6.2x86_64_SkySQL_Template   
    key             	   none
</cloud>

<lb lb1>
    ip                      10.0.0.102
    vip                     10.0.0.10
    port                    3306  
    peer                    lb2
    status                  master	
    mode                    keepalived
    device 		    eth0		
    mysql_user		    skysql 
    mysql_password	    skyvodka
</lb>

<lb lb2>
    ip                      10.0.0.47
    vip                     10.0.0.10
    port                    3306  
    status                  slave
    peer                    lb1
    mode                    keepalived
    device		    eth0
    mysql_user		    skysql 
    mysql_password	    skyvodka	
</lb>

<lb lb3>
    ip                      10.0.0.102
    vip                     0.0.0.0 
    port                    3306  
    status                  master
    mysql_user		    skysql 
    mysql_password	    skyvodka	
    peer                    lb4
    mode                    haproxy
    device                  eth1 
</lb>

<lb lb4>
    ip                      10.0.0.47
    vip                     0.0.0.0
    mysql_user		    skysql 
    mysql_password	    skyvodka	
    status                  master	
    port                    3306  
    peer                    lb3
    mode                    haproxy
    device                  eth2 
</lb>

<bench bench1> 
  mode                    dbt2
  peer                    lb1
  warehouse               100
  concurrency             16 
  duration                600
  datadir                 /var/lib/skysql/dbt2   
</bench>

<monitor mon1>
    mode                  mycheckpoint
    port                  8080
    smtp-from             mon@skysql.com
    smtp-to               stephane@skysql.com
    smtp-host             localhost  
    ip                    10.0.0.102
</monitor>
