global_defs {
  notification_email {
    stephane@skysql.com
  }
  notification_email_from keepalived@lb3
  smtp_server localhost
  smtp_connect_timeout 30
  # This should be unique.
  router_id 55
}

vrrp_instance mysql_pool {
  # The interface we listen on.
  interface eth1
  # The default state, one should be master, the others should be set to SLAVE.
  state MASTER

 # This should be the same on all participating load balancers.
  virtual_router_id 1

  priority 100

  # Set the interface whose status to track to trigger a failover.  
  track_interface {
    eth1
  }

  # Password for the loadbalancers to share.
  authentication {
    auth_type PASS
    auth_pass 1111
  }

  # This is the IP address that floats between the loadbalancers.
  virtual_ipaddress {
    127.0.0.1/24
  }
}

# Here we add the virtal mysql node
virtual_server 127.0.0.1 3307 {
  delay_loop 6
  # Round robin, but you can use whatever fits your needs.
  lb_algo rr
  lb_kind NAT
nat_mask 255.255.255.0
persistence_timeout 50
  protocol TCP

   real_server 127.0.0.1 3309  {
     weight 10
    TCP_CHECK {
      connect_port 22
      connect_timeout 3
   } 
 }

   real_server 127.0.0.1 3308  {
     weight 10
    TCP_CHECK {
      connect_port 22
      connect_timeout 3
   } 
 }

   real_server 127.0.0.1 3307  {
     weight 10
    TCP_CHECK {
      connect_port 22
      connect_timeout 3
   } 
 }
 }
