<architecture>
    topology                MASTERSLAVE
</architecture>

<cloud cloud1>
    status          slave
    user            xxxx
    password        xxxx
    host            vcloud.hegerys.com
    version         1.5
    driver          VCLOUD
    template        Centos6.2x86_64_SkySQL_Template   
    key             none
    ex_vdc          vApp_skysql_1
    instance_type   na
</cloud>

<cloud cloud2>
    status          master
    user            xxxx
    password        xxxx
    host            na
    version         1.5
    driver          LOCAL
    template        na   
    key             na
    ex_vdc          na
    instance_type   na
    public_key      id_rsa
</cloud>

<db default>
    cluster_interface       eth0
    replication_user        repl
    replication_password    repl
    mysql_user		    skysql 
    mysql_password	    skyvodka		
    agent_user              skysql
    agent_password          skyvodka
</db>

<db db10>
    status                    master
    mode                    mariadb
    ip                      127.0.0.1
    peer                    db10
    mysql_version           mariadb
    mysql_port		    5010 
    mysql_server_id         5010
    mysql_cnf		    etc/my.template
    cloud		    cloud3
</db>

<db db11>
    mode                    mariadb 
    status                    slave 
    ip                      127.0.0.1
    peer		    db10
    mysql_version	    mariadb
    mysql_port 		    5011
    mysql_server_id         5011
    mysql_cnf		    etc/my.template
    cloud		    cloud3
</db>


<db db12>
    status                  slave 
    mode                    mariadb 
    ip                      127.0.0.1
    peer		    db10
    mysql_version	    mariadb
    mysql_port 		    5012
    mysql_cnf		    etc/my.template
    cloud		    cloud3
</db>

#<db node20>
#    ip                      127.0.0.1
#    mode                    monitor
#    peer                    node10,node11
#    mysql_version           mysql-5.5.14-spider-2.28-vp-0.17-hs-1.1-q4m-0.95
#    mysql_port              5020
#    mysql_cnf		     etc/my.template
#    datadir		     /var/lib/skysql
#</db>


<proxy proxy10>
    mode                    mysql-proxy
    ip                      127.0.0.1 
    hosts                   db10
    port 		    3307 
    script                  rw-splitting.template
    cloud		    cloud3
</proxy>
<proxy proxy11>
    mode                    mysql-proxy
    ip                      127.0.0.1 
    hosts                   db10
    port 		    3308
    script                  rw-splitting.template
    cloud		    cloud3
</proxy>


<nosql nosql10>
    ip                      127.0.0.1
    mode                    memcache
    status                  master
    port              	    11211
    mem                     16
    cloud		    cloud3
</nosql>
<nosql nosql11>
    ip                      127.0.0.1
    status                  slave
    mode                    memcache
    port              	    11212
    cloud		    cloud3
    mem                     16
</nosql>


<lb lb10>
    ip                      127.0.0.1
    vip                     127.0.0.1
    port                    3304  
    peer                    lb11
    status                  master
    mode                    keepalived
    balance                 none
    device                  eth1 
    mysql_user		    skysql 
    mysql_password	    skyvodka	
    cloud		    cloud3
</lb>
<lb lb11>
    ip                      127.0.0.1
    vip                     127.0.0.1
    port                    3303  
    peer                    lb10
    status                  slave
    mode                    keepalived
    balance                 none
    device                  eth2 
    mysql_user		    skysql 
    mysql_password	    skyvodka	
    cloud		    cloud3
</lb>
<lb lb12>
    ip                      127.0.0.1
    vip                     0.0.0.0
    port                    3306  
    mysql_user		    skysql 
    mysql_password	    skyvodka	
    peer                    lb13
    mode                    haproxy
    status                  master
    device                  eth1 
    cloud		    cloud3
</lb>
<lb lb13>
    ip                      127.0.0.1
    vip                     0.0.0.0
    mysql_user		    skysql 
    mysql_password	    skyvodka	
    port                    3305  
    peer                    lb12
    mode                    haproxy
    device                  eth2 
    status                  slave
    cloud		    cloud3
</lb>

<bench bench10> 
  mode                    dbt2
  ip                      127.0.0.1  
  warehouse               100
  concurrency             16 
  duration                600
  datadir                 /var/lib/skysql/dbt2   
   cloud		  cloud3  
</bench>

<monitor mon10>
    mode                  mycheckpoint
    ip                    127.0.0.1  
    port                  8080
    smtp-from             mon@skysql.com
    smtp-to               stephane@skysql.com
    smtp-host             localhost  
    cloud		    cloud3
</monitor>
