[server default]
ssh_user=root
#secondary_check_script= masterha_secondary_check -s remote_host1 -s remote_host2
ping_interval=3
log_level=debug
master_ip_failover_script=../ncc/bin/master_ip_failover
master_ip_online_change_script=../ncc/bin/master_ip_online_change
#shutdown_script= /var/lib/mha/power_manager
report_script= ../ncc/bin/send_report
