[mysql-proxy]
pid-file = mysql-proxy.pid
log-level = debug
event-threads = 1
max-open-files=4096
proxy-fix-bug-25371=1
proxy-address =127.0.0.1:3307
proxy-backend-addresses=127.0.0.1:5010
proxy-read-only-backend-addresses=127.0.0.1:5011
proxy-lua-script = /usr/local/skysql/ncc/scripts/proxy10.lua
