[mysql-proxy]
pid-file = mysql-proxy.pid
log-file = /var/lib/skysql/log/mysql-proxy.log
log-level = debug
proxy-address =127.0.0.1:3309
proxy-backend-addresses=127.0.0.1:5010
proxy-read-only-backend-addresses=127.0.0.1:5012,127.0.0.1:5011
proxy-lua-script = /usr/local/skysql/ncc/scripts/rw-splitting.lua
